<div class="page-body">
    <div class="container-xl">
      <div class="row row-cards">
        <!-- Button trigger modal -->
        <div class="row">
          <div class="col-12">
            <a href="#" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#add-modal">
              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-plus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 5l0 14" /><path d="M5 12l14 0" /></svg>
              Add Category
            </a>
          </div>
        </div>
        <!-- Tabel -->
        <div class="col-12">
            <div class="card">
              <div class="table-responsive">
                <table class="table table-vcenter card-table" id="dataTable">
                  <thead>
                    <tr>
                      <th>No.</th>
                      <th>Name</th>
                      <th>Action</th>
                      <th class="w-1"></th>
                    </tr>
                  </thead>
                  <!-- looping data -->
                   <tbody>
                    <% for(let i = 0; i < category.length; i++){ %>
                      <tr>
                        <td><%= i + 1 %></td>
                        <td><%= category[i].name %></td>
                        <td>
                          <form action="/admin/category/<%= category[i].id %>?_method=DELETE" method="POST">
                            <a href="#" type="button" class="btn btn-primary btn-sm button-update" data-id="<%= category[i].id %>" data-name="<%= category[i].name %>">
                              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-pencil"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4" /><path d="M13.5 6.5l4 4" /></svg>
                              Edit
                            </a>
                            <button type="submit" class="btn btn-danger btn-sm">
                              <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-circle-minus"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0" /><path d="M9 12l6 0" /></svg>
                              Delete
                            </button>
                          </form>
                        </td>
                      </tr>
                    <% } %>
                   </tbody>
                </table>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>